@model HomeSecurity.BLL.DTOs.Users.UserRegisterDto
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-wrapper d-flex justify-content-center align-items-center">
    <div class="login-card shadow">
        <h2 class="login-header text-center">Створіть ваш акаунт</h2>

        @await Html.PartialAsync("Partials/_ValidationSummary")

        <form asp-action="Register" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="custom-label"></label>
                <input asp-for="Email" class="form-control custom-input" placeholder="Введіть email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FirstName" class="custom-label"></label>
                <input asp-for="FirstName" class="form-control custom-input" placeholder="Введіть ім'я" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="custom-label"></label>
                <input asp-for="LastName" class="form-control custom-input" placeholder="Введіть прізвище" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="custom-label"></label>
                <input asp-for="Password" class="form-control custom-input" type="password" placeholder="Введіть ваш пароль" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="custom-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control custom-input" type="password" placeholder="Підтвердіть ваш пароль" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn custom-btn w-100">Зареєструватися</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}