@{
    var successMessage = TempData["Success"] as string;
}

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="custom-success-alert animate__animated animate__fadeIn" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zM7 11.5L3.5 8l1.06-1.06L7 9.38l4.44-4.44L12.5 6 7 11.5z" />
        </svg>
        <span>@successMessage</span>
    </div>
}